@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{  
  font-family: 'Roboto Condensed', sans-serif;
  color: #456252;
  background-size: 100%;
  background-color: #E4D99E;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin-left: 2%;
  font-size: 30px;
}
#navbarNav {
  background-color: #EADFCF;
  opacity: 80%;
}
.container-fluid {
  font-size: 30px;
  background-color: #EADFCF;
  opacity: 80%;
  position: fixed;
  z-index: 99;
  top: 0;
}

.Box1{
 margin-top: 4%;
}

button{
  background-image: url(./img/Rectangle\ 1.png);
}

#Society{
  text-align: center;
  background-color: #EADFCF;
  border-radius: 5%;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 15%;
  padding-bottom: 10%;
  padding-top: 10%;
} 

#Story, #Contact{
  padding-top: 20%;
  text-align: center;
}

#Contact{
  padding-top: 20%;
  text-align: center;
}


#pic1, #pic4{
  text-align: center;
  width: 100%;
}

#pic5{
  text-align: center;
  width: 50%;
  border-radius: 5%;
  color: #BF764C;
  border: solid 5px #BF764C ;
}

h1{
  font-weight: bolder;
  font-size: 40pt;
}

#StoryDetail, #SocietyDetail{
  font-size: 15pt;  
}

#ContactDetail{
  font-size: 10pt ;
}

#SpanOrange{
  color: #BF764C;
  font-weight: bold;
}

#MapContact{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#Location{
  font-weight: bold;
  font-size: 20pt;
  text-align: center
}

#ContactDetail{
  font-weight: normal;
  font-size: 15pt; ;
  text-align: center
}

#line{
  margin-left: 25%;
}

#MediaIconFB, #MediaIconYT, #MediaIconTW{
  padding-left: 22%;
}

.footer-1{
  background-color: #BF764C;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: center;
}

a:link
{
    color: whitesmoke;
}
a:visited
{
    color: #456252;
}
a:hover
{
    color:#E4D99E;
}
a:active
{
    color: black;
}